* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

:root {
  --azul: #1848f9;
  --branco: #faffff;
}

header {
  background-color: var(--azul);
  color: var(--branco);
  padding: 16px;
}

header > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-right: 16px;
}

nav li a {
  text-decoration: none;
  color: var(--branco);
}

.container {
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;
}

.container-flex {
  display: flex;
}

section {
  padding-top: 120px;
}

h2 {
  font-size: 2em;
  margin-bottom: 24px;
  color: var(--azul);
  border-bottom: 1px solid var(--azul);
  padding-bottom: 8px;
}

#interior-loja {
  max-width: 500px;
  margin-right: 32px;
}

.lista-produtos {
  display: grid;
  grid-template-columns: repeat(4, 24.5%);
  column-gap: 1%;
  padding-bottom: 120px;
}

.lista-produtos li {
  width: 90%;
  list-style: none;
}

.lista-produtos img {
  max-width: 100%;
  margin-bottom: 8px;
}

.lista-produtos p {
  margin: 4px 0;
}

h3 {
  font-size: 1.5em;
}

strong {
  font-size: 1.2em;
}

button {
  margin-top: 8px;
  width: 100%;
  height: 2.5em;
  border-radius: 6px;
  border: none;
  background-color: var(--azul);
  color: var(--branco);
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bold;
}

@media screen and (min-width: 641px) and (max-width: 1023px) {
  .container {
    margin: 0 auto;
    max-width: 1024px;
    width: 90%;
  }

  .container-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section {
    padding-top: 120px;
  }

  h2 {
    font-size: 2em;
    margin-bottom: 24px;
    color: var(--azul);
    border-bottom: 1px solid var(--azul);
    padding-bottom: 8px;
  }

  #interior-loja {
    max-width: 800px;
    width: 100%;
    margin-bottom: 32px;
  }

  .lista-produtos {
    display: grid;
    grid-template-columns: repeat(2, 49%);
    column-gap: 1%;
    padding-bottom: 120px;
  }

  .lista-produtos li {
    width: 90%;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 640px) {
  .container {
    max-width: 641px;
    width: 90%;
  }

  .container-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  section {
    padding-top: 100px;
  }

  h2 {
    font-size: 2em;
    margin-bottom: 24px;
    color: var(--azul);
    border-bottom: 1px solid var(--azul);
    padding-bottom: 8px;
  }

  #interior-loja {
    max-width: 640px;
    width: 100%;
    margin-bottom: 32px;
  }

  .lista-produtos {
    display: grid;
    grid-template-columns: 90%;
    padding-bottom: 120px;
    justify-items: center;
  }

  .lista-produtos li {
    width: 90%;
    margin-bottom: 32px;
  }
}
