* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

body {
    height: 100vh;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 16px;
    margin: 0 auto;
    max-width: 900px;
    height: auto;
    width: 100%;
    border: 1px solid #000;
}

header {
    display: flex;
    align-items: center;
}

header img {
    height: 80px;
}

header h1 {
    font-size: 80px;
    margin-left: 16px;
}

form {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    width: 100%;
    max-width: 640px;
}

form input, button {
    padding: 16px;
    height: auto;
    font-size: 16px;
    margin-bottom: 24px;
}

form button {
    background-color: #142453;
    color: #fff;
    font-weight: bold;
}

form button:hover {
    cursor: pointer;
    background-color: #2A3B6C;
}

table {
    font-size: 24px;
    width: 100%;
}

table th {
    border-bottom: 2px solid #000;
}

table td {
    padding: 16px;
    border-bottom: 2px solid #524f4f;
    text-align: center;
}

#head {
    display: none;
}