* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body > header {
    background-color: #363434;
    padding: 16px 0;
    color: #f5f6fa;
}

header li a {
    color:  #f5f6fa;
}

header li {
    display: inline;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 1366px;
    margin: 0 auto 0 auto;
}

.date {
    color: #ccc
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    /* height: 180px; */
    width: 100%;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin: 16px 0;
}

.articles article a {
    background-color: lightblue;
    color: #fff;
    padding: 8px;
    display: inline-block;
}
