* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(128, 57, 196);
}

.item {
    align-items: center;
    background-color: rgb(223, 238, 238);
    padding: 32px;
    height: 640px;
    width: 600px;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
}

.item form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
}

.item input {
    padding: 16px;
    height: 32px;
    font-size: 16px;
}

.item textarea {
    font-size: 16px;
    height: 72px;
    padding: 16px;
    resize: none;
}

.item button {
    padding: 16px;
    height: auto;
    font-size: 32px;
    text-transform: uppercase;
    color: #fff;
    background-color: green;
    margin-bottom: 16px;
}

.item button:hover {
    cursor: pointer;
    background-color: lightgreen;
}

.mensagem-sucesso {
    background-color: green;
    padding: 16px;
    color: #fff;
    display: none;
}

.mensagem-erro {
    display: none;
    padding: 8px;
    background-color: red;
    color: #fff;
    margin-bottom: 8px;
    font-size: 12px;
}

.error {
    color: red;
    border: red;
    outline-color: red;
}