* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: lightgrey;
}

h1{
    text-align: center;
    font-size: 32px;
}

.parent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
}

.child {
    margin: auto;
    border: solid 1px black;
    padding: 8px;
    border-radius: 10px;
    background-color:palegreen;
}

h1, ul li {
    margin: 16px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li {
    border: 1px solid black;
    padding: 8px;
    font-size: 20px;
    border-radius: 3px;
}

ul li button {
    padding: 4px;
    width: 24px;
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
}

form input, form button {
    border-radius: 3px;
    padding: 8px;
}

form button {
    cursor: pointer;
}

