@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100;400;700&display=swap");

header svg {
  width: 48px;
  color: #fff;
}

.navbar {
  background-color: #000;
}

#cabecalho .nav .nav-link.active {
  background-color: #fff;
  color: #000;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover,
.nav-cardapio .nav-link {
  color: #fff;
  font-family: Bebas Neue, cursive;
  font-weight: normal;
}

.navbar-toggler {
  background-color: #ffeae6;
}

.section-title {
  font-family: Bebas Neue, cursive;
}

#sobre,
#jogos {
  background-color: #000;
  color: #fff;
}

.carousel-item img {
  max-width: 1920px;
  max-height: 1080px;
}

.text-colored {
  color: red;
}

.nav-link {
  font-family: Bebas Neue, cursive;
}

.nav-jogos .nav-link.active,
#contato button {
  background-color: red;
  color: #fff;
  font-family: Bebas Neue, cursive;
}

.nav-jogos .nav-link:hover {
  color: #fff;
}

.social-links li {
  list-style: none;
  display: inline;
}

.social-links a {
  text-decoration: none;
}

@media (max-width: 767px) {
  .carousel-item img {
    height: 280px;
  }
}
