* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #18b4b4;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 16px;
}

.container {
  padding: 32px;
  width: 600px;
  border: solid 1px lightgrey;
  border-radius: 8px;
  box-shadow: 6px 6px 1px;
  background-color: #fff;
}

label,
button {
  display: block;
  margin: 6px 0;
  font-size: 24px;
  font-weight: bold;
}

.error {
  font-size: 16px;
  font-weight: normal;
  color: red;
  margin: 6px 0;
}

input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #18b4b4;
  cursor: pointer;
  height: 30px;
  font-size: 20px;
}

input:focus {
  outline: none;
}

button {
  cursor: pointer;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: black;
  color: #fff;
  margin-top: 16px;
}

button:hover {
  background-color: #18b4b4;
}
